* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 3px solid #d67601;
}

h3 {
    padding-bottom: 10px;
    font-size: 24px;
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 10px;
    display: inline-block;
    z-index: 5;
}

.menu-btn {
    position: relative;
    display: none;
    width: 30px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    margin-top: -2px;
    margin-left: -15px;
    background-color: #d67601;
    border-radius: 20px;
    transition: .3s;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
}

.menu-btn span::before {
    transform: translateY(-8px);
}

.menu-btn span::after {
    transform: translateY(8px);
}

.menu-btn-active span {
    height: 0;
}

.menu-btn-active span::before {
    transform: rotate(-45deg);
}

.menu-btn-active span::after {
    transform: rotate(45deg);
}

.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: #ccc;
    transition: .3s;
    z-index: 2;
    overflow: hidden;
}

.nav-main.light-bg {
    background-color: #f5f5f5;
    color: #000;
    transition: .3s;
}

.nav-main.light-bg a {
    color: #222121;
}

.nav-main.light-bg a:hover {
    color: #8e8e8e;
}

.nav-main ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-main ul li {
    list-style: none;
}

.nav-main ul li a {
    text-decoration: none;
    line-height: 70px;
    margin-right: 20px;
    font-size: 24px;
    color: #bcbcbc;
    font-weight: bold;
    transition: .3s;
}

.nav-main ul li a:hover {
    color: #fff;
}

.header-main {
    height: 100vh;
    background-image: url(../img/gym.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-main .header-box {
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.header-main .logo {
    position: absolute;
    top: 10px;
    left: 20px;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
    color: #d67601;
    z-index: 5;
}

.header-box {
    position: relative;
}

.header-inner {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-inner h1 {
    font-size: 70px;
    text-transform: uppercase;
    padding: 40px 20px;
    color: rgba(255, 255, 255, 0.5);
}

.header-inner p {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ccc;
}

.header-inner button {
    margin-top: 30px;
    padding: 20px 30px;
    background-color: rgba(214, 118, 1, .4);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ccc;
    border: 0;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    outline: none;
}

.header-inner button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #d67601;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0;
    text-align: center;
}

.about p {
    padding-top: 40px;
    width: 70%;
    font-size: 18px;
}

.gallery-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
}

.gallery-item-img {
    flex-basis: 50%;
}

.gallery-item-img img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.gallery-item-inner {
    flex-basis: 40%;
    padding: 0 50px 0 10px;
    border-left: 3px solid #d67601;
}

.gallery-inner {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90%;
    padding: 50px 0;
}

.gallery-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: #000;
}

.gallery-inner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-inner-box h4 {
    padding-bottom: 5px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
}

.article-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.article-items {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 5px #ccc;
    background-color: #fff;
}

.article-item {
    flex-basis: 50%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.article-item p {
    font-size: 18px;
}

.form-box {
    margin: 100px 0;
    height: 70vh;
    text-align: center;
    background-image: url(../img/bg-form.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-box-inner {
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -5;
}

.form-box-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-box h2 {
    color: #ccc;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

input[type="text"] {
    flex-basis: 45%;
    height: 30px;
    padding: 5px;
}

textarea {
    height: 60px;
    flex-basis: 100%;
    margin-top: 20px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

input,
textarea,
.form .button {
    border: 0;
    border-radius: 5px;
    outline: none;
}

.form .button {
    margin: 20px auto 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(32, 32, 32, .6);
    color: #fff;
    transition: .3s;
}

.form .button:hover {
    background-color: #d67601;
}

.icon-box {
    padding-bottom: 100px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    color: #d67601;
    margin: 0 20px;
    transition: .3s;
    font-size: 36px;
}

.icons a:hover {
    color: #202020;
}

footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #ccc;
    font-size: 24px;
    font-weight: bold;
    background-color: #000;
}

@media (max-width: 992px) {
    .nav-main {
        top: -70px;
        height: 60px;
        padding-right: 50px;
        transition: .4s;
    }

    .nav-main.show {
        top: 0;
    }

    .menu-icon .menu-btn {
        display: block;
    }

    .nav-main ul li a {
        line-height: 60px;
        font-size: 20px;
    }

    .header-inner h1 {
        font-size: 50px;
    }

    .header-main .logo,
    .header-inner p,
    .about h2,
    .article-box h2,
    .form-box h2 {
        font-size: 24px;
    }

    .header-inner button {
        font-size: 16px;
    }

    .about p,
    .article-item p,
    .gallery-item-inner p {
        font-size: 16px;
    }

    .form-box {
        height: 50vh;
        margin-bottom: 50px;
    }

    .form {
        width: 45%;
    }

    .icon-box {
        padding-bottom: 50px;
    }

    footer {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
}

@media (orientation: landscape) and (max-width: 992px) {

    .header-main,
    .header-main .header-box {
        height: 100vh;
    }

    .form-box {
        height: 100vh;
    }
}

@media (max-width: 852px) {
    .form {
        width: 75%;
    }
}

@media (max-width: 768px) {

    .nav-main {
        height: 60px;
    }

    .nav-main ul li a {
        line-height: 60px;
    }

    .header-main,
    .header-main .header-box {
        height: 60vh;
    }

    .header-inner h1 {
        font-size: 30px;
    }

    .header-main .logo,
    .header-inner p,
    .about h2,
    .article-box h2,
    .form-box h2 {
        font-size: 18px;
    }

    .header-inner button {
        padding: 10px 15px;
        font-size: 12px;
    }

    .about {
        padding: 50px 0;
    }

    .gallery-item-inner {
        padding: 0 0 0 5px;
    }

    .gallery-item-inner h3,
    .gallery-inner-box h4 {
        font-size: 18px;
    }

    .article-item {
        flex-basis: 100%;
    }

    .article-item h3 {
        text-align: center;
        font-size: 18px;
    }

    .icons a {
        font-size: 24px;
    }

    .form {
        width: 60%;
    }

    footer {
        font-size: 12px;
    }
}

@media (orientation: landscape) and (max-width: 768px) {

    .header-main,
    .header-main .header-box {
        height: 100vh;
    }

    .form-box {
        height: 100vh;
    }
}

@media (max-width: 576px) {

    .nav-main {
        padding-left: 10px;
        height: 40px;
    }

    .menu-icon {
        top: 10px;
    }

    .nav-main ul {
        justify-content: flex-start;

    }

    .nav-main ul li a {
        font-size: 15px;
        margin-right: 5px;
        line-height: 40px;
    }

    .header-main .logo {
        display: none;
    }

    .about {
        padding: 50px 0;
    }

    .about h2 {
        margin-bottom: 10px;
    }

    .about p {
        width: 100%;
        padding: 10px;
    }

    .gallery-main {
        padding-top: 0;
    }

    .gallery-item-img {
        display: none;
    }

    .gallery-item-inner {
        flex-basis: 90%;
    }

    .gallery-inner-box {
        flex-basis: 100%;
    }

    .gallery-inner-box:nth-of-type(2),
    .gallery-inner-box:nth-of-type(3) {
        display: none;
    }

    .article-box {
        padding: 0;
    }

    .form-box {
        margin: 30px 0;
        height: 75vh;
    }

    .form {
        width: 80%;
        margin-top: 20px;
    }

    input[type="text"] {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .icon-box {
        padding-bottom: 30px;
    }
}

@media (orientation: landscape) and (max-width: 576px) {

    .header-main,
    .header-main .header-box {
        height: 100vh;
    }

    .form-box {
        height: 100vh;
    }
}

@media (max-width: 440px) {
    .form {
        width: 90%;
    }
}
